/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
.page__contact {
    margin: 0 0 50px 0;
    padding: 0 0 50px 0;
}
.page__info {
    margin: 0 0 50px 0;
    padding: 0 0 50px 0;
}
.page__checkout {
    margin: 0 0 50px 0;
}
/* -------header------ */
.header {
    font-family: "Causten", sans-serif;
    color: #807d7e;
    padding: 31px 0;
    border-bottom: 1px solid #bebcbd;
}
.header--margin {
    margin: 0 0 50px 0;
}
.header__container {
    max-width: 1267px;
    padding: 0 15px;
    margin: 0 auto;

    display: flex;
    /* justify-content: space-between; */
    gap: 86px;
}
.header__logo {
    flex: 0 0 91px;
    /* flex-grow: 1; */
}
.header__logo img {
    width: 91px;
    height: 46px;
}
.header__menu {
}
.menu-header {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.menu-header__items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.menu-header__item {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    position: relative;
}
.menu-header__link {
    transition: color 0.3s;
}
.menu-header__link::after {
    content: "";
    background-color: #ae7eec;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -3px;
    right: 0;
    transition: all 0.3s;
}
.menu-header__link:hover::after {
    width: 100%;
    left: 0;
}
.menu-header__link:hover {
    color: #ae7eec;
}
.menu-header__form {
    position: relative;
    flex: 0 0 267px;
}
.menu-header__search {
    border-radius: 8px !important;
    background-color: #f6f6f6;
    width: 267px;
    height: 44px;
    padding: 0 20px 0 52px;
    text-transform: capitalize;
    outline: none;
    transition: background-color 0.3s;
}
.menu-header__search:hover {
    background-color: #eeeeee;
}
.menu-header__svg-search {
    width: 20px;
    height: 20px;
    background: url(../img/header/search.svg) center no-repeat;
    position: absolute;
    top: 12px;
    left: 20px;
}
.menu-header__search::-webkit-search-cancel-button {
    opacity: 0;
    position: relative;
    z-index: 10;
}
.menu-header__search::-webkit-search-cancel-button:hover {
    cursor: pointer;
}
.menu-header__svg-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 20px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}
.menu-header__svg-close::before,
.menu-header__svg-close::after {
    content: "";
    width: 12px;
    height: 2px;
    background-color: #b6b6b6;
    position: absolute;
    top: 0;
    left: 0;
}
.menu-header__svg-close::before {
    transform: translate(6px, 9px) rotate(45deg);
}
.menu-header__svg-close::after {
    transform: translate(6px, 9px) rotate(-45deg);
}
.menu-header__search:focus ~ .menu-header__svg-close {
    display: inline-block;
    opacity: 1;
}
.menu-header__search:focus {
    outline: 1px solid #8a33fd;
}
.menu-header__acc {
}
.acc-header {
    flex: 0 0 156px;
    display: flex;
    column-gap: 12px;
}
.acc-header__btn {
    flex: 0 0 44px;
    height: 44px;
    border-radius: 8px;
    transition: all 0.3s;
}
.acc-header__btn-liked {
    background: url(../img/header/01-heart.svg) center no-repeat #f6f6f6;
}
.acc-header__btn-page {
    background: url(../img/header/02-user.svg) center no-repeat #f6f6f6;
}
.acc-header__btn-cart {
    background: url(../img/header/03-shopping-cart.svg) center no-repeat #8a33fd;
}
.acc-header__btn-liked:hover {
    background: url(../img/header/01-heart-hover.svg) center no-repeat rgba(140, 127, 156, 0.137);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.acc-header__btn-page:hover {
    background: url(../img/header/02-user-hover.svg) center no-repeat rgba(140, 127, 156, 0.137);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.acc-header__btn-cart:hover {
    background: url(../img/header/03-shopping-cart.svg) center no-repeat #6620c1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
/* -------contact-------- */
.contact {
}
.contact__container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}
.contact__titles {
    margin: 0 0 40px 0;
}
.head-titles {
    color: #37393f;
    text-align: center;
}
.head-titles > *:not(:last-child) {
    margin: 0 0 16px 0;
}
.head-titles__sub-title {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;

    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}
.head-titles__sub-title::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #40ddb6;
}
.head-titles__title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
}
.contact__body {
    position: relative;
}
.contact__body::after {
    position: absolute;
    bottom: -50px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
}
.contact__form {
}
.form-contact {
    color: #37393f;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}
.form-contact__info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 28px;
    justify-content: space-between;
    margin: 0 0 28px 0;
}
.form-contact__field {
    flex: 0 1 591px;
    height: 65px;
}
.form-contact__field > input {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 0px !important;
    padding: 0 40px;
}
.form-contact__field > input:focus {
    outline: 1px solid #6b78e5;
}
.form-contact__name {
}
.form-contact__mail {
}
.form-contact__phone {
}
.form-contact__subject {
}
.form-contact__text {
    margin: 0 0 50px 0;
}
.form-contact__message {
    width: 100%;
    min-height: 222px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 0px !important;
    padding: 22px 40px 0;
    resize: vertical;
}
.form-contact__message:focus {
    outline: 1px solid #6b78e5;
}
.form-contact__btn {
    text-align: center;
}
.form-contact__submit-btn {
    padding: 21px 61px;
    background-color: #6b77e5;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.3s;
}
.form-contact__submit-btn:hover {
    background-color: #5460c4;
}
/* --------info-------- */
.info {
}
.info__container {
    max-width: 925px;
    margin: 0 auto;
    padding: 0 15px;
}
.info__head-titles {
    margin: 0 0 50px 0;
}
.info__head-titles > *:not(:last-child) {
    margin: 0 0 20px 0;
}
.section-titles {
    color: #3c4242;
    font-family: "Core Sans C", sans-serif;
    font-weight: 600;
}
.section-titles__title {
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 0.56px;
}
.section-titles__sub-title {
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.44px;
}
.info__body {
}
.info__form {
    position: relative;
}
.info__form::after {
    position: absolute;
    bottom: -50px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #000;
}
.user-form {
    font-family: "Causten", sans-serif;
}
.user-form__about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    margin: 0 0 30px 0;
}
.user-form__field {
    flex: 0 1 426px;
}
.user-form__field label {
    display: inline-block;
    margin: 0 0 10px 0;
}
.user-form__input {
    width: 100%;
    height: 55px;
    border-radius: 8px !important;
    background-color: #f6f6f6;
    padding: 0 22px;
}
.user-form__select {
    width: 100%;
    height: 55px;
    border-radius: 8px !important;
    background-color: #f6f6f6;
    padding: 0 22px;
}
.user-form label {
    color: #3c4242;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
}
.user-form__delivery {
    margin: 0 0 30px 0;
}
.user-form__delivery label {
    display: inline-block;
    margin: 0 0 10px 0;
}
.user-form__input:focus,
.user-form__select:focus,
.user-form__textarea:focus {
    outline: 1px solid #8a33fd;
}
.user-form__textarea {
    width: 100%;
    min-height: 150px;
    border-radius: 8px !important;
    background-color: #f6f6f6;
    padding: 18px 22px 0;
    resize: vertical;
}
.user-form__checkboxes {
    margin: 0 0 60px 0;
}
.user-form__check-box {
}
.user-form__check-box:not(:last-child) {
    margin: 0 0 15px;
}
.check-confirm {
    position: relative;
}
.check-confirm__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
}
input.check-confirm__input:focus {
    outline: none;
}
label.check-confirm__label {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    display: inline-flex;
    gap: 11px;
    transition: color 0.2s;
}
label.check-confirm__label:hover {
    color: #000000;
}
.check-confirm__label::before {
    content: "";
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    background: url(../img/form-info/check-box.svg) center no-repeat;
    transition: all 0.2s;
}
.check-confirm__input:checked + .check-confirm__label::before {
    background: url(../img/form-info/check-box-active.svg) center no-repeat;
}
.user-form__btns {
    font-size: 20px;
    display: flex;
    column-gap: 30px;
}
.user-form__btns > button {
    border-radius: 8px;
    padding: 12px 40px;
    transition: all 0.3s;
}
.user-form__save-btn {
    font-weight: 600;
    color: #fff;
    background-color: #8a33fd;
}
.user-form__save-btn:hover {
    background-color: #6620c1;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
}
.user-form__cancel-btn {
    font-weight: 700;
    color: #807d7e;
    background-color: #f6f6f6;
}
.user-form__cancel-btn:hover {
    background-color: #e9e9e9;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
/* ----------checkout----------- */
.checkout {
}
.checkout__container {
    max-width: 870px;
    padding: 0 15px;
    margin: 0 auto;
}
.checkout__billing {
    margin: 0 0 60px 0;
}
.billing {
    max-width: 802px;
}
.billing__head-titles {
    margin: 0 0 50px 0;
}
.billing__head-titles > *:not(:last-child) {
    margin: 0 0 20px 0;
}
.section-titles {
}
.section-titles__title {
}
.section-titles__title--decor {
    display: flex;
    gap: 15px;
    align-items: center;
}
.section-titles__title--decor::before {
    content: "";
    width: 6px;
    height: 28px;
    border-radius: 10px;
    background-color: #8a33fd;
}
.section-titles__sub-title {
}
.billing__body {
}
.billing__form {
}
.user-form {
}
.billing .user-form__about {
    margin: 0 0 43px 0;
}
.billing .user-form__field {
    flex: 0 1 382px;
}
.billing .user-form__field--small {
    flex: 0 1 246px;
}
.user-form__label {
}
.user-form__input {
}
.user-form__select {
}
.user-form__button {
    margin: 0 0 20px 0;
}
.check-btn {
}
.check-btn__delivery-btn {
    border-radius: 8px !important;
    background-color: #8a33fd;
    padding: 16px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
}
.check-btn__delivery-btn:hover {
    background-color: #6620c1;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
}
.user-form__check-box {
}
.check-confirm {
}
.check-confirm__input {
}
.check-confirm__label {
}
/* ------------- */
.payment-details {
    color: #3c4242;
    font-family: "Causten", sans-serif;
}

.payment-details::before {
    position: relative;
    top: -33px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #edeef2;
}
.payment-details__form {
}
.form-payment {
}
.form-payment__shipping {
}
.form-payment__shipping:not(.form-payment__shipping--last) {
    margin: 0 0 60px 0;
    position: relative;
}
.form-payment__shipping:not(.form-payment__shipping--last)::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #edeef2;
    position: absolute;
    bottom: -30px;
    left: 0;
}
.form-payment__shipping--last {
    margin: 0 0 50px 0;
}
.form-section {
}
.form-section__head {
    margin: 0 0 30px 0;
}
.head-payment-section {
}
.head-payment-section__title {
    font-family: "Core Sans C", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.409;
    letter-spacing: 0.44px;
}
.head-payment-section__title:not(:last-child) {
    margin: 0 0 8px 0;
}
.head-payment-section p {
}
.form-section__body {
}
.body-payment-section {
    border-radius: 12px;
    background-color: #f6f6f6;
}
.body-payment-section--address {
    padding: 38px 48px 38px 28px;
}
.body-payment-section__radio {
}
.shipping-radio {
}
.shipping-radio__credit-card {
    position: relative;
}
.shipping-radio__credit-card:not(:last-child) {
    margin: 0 0 60px 0;
}
.shipping-radio__credit-card:not(:last-child)::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #bebcbd;
    position: absolute;
    bottom: -30px;
    left: 0;
}
.shipping-radio__option {
    display: flex;
    gap: 19px;
    align-items: center;
    position: relative;
}
.shipping-radio__option:not(:last-child) {
    margin: 0 0 50px 0;
}
.shipping-radio__option--after:not(:last-child)::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #bebcbd;
    position: absolute;
    bottom: -25px;
    left: 0;
}
.shipping-radio__option.shipping-radio__option--no-margin {
    margin: 0;
}
.shipping-radio__option.shipping-radio__option--another-margin {
    margin: 0 0 30px 0;
    display: block;
}
.shipping-radio__option.shipping-radio__option--another-margin > .shipping-radio__label {
    display: flex;
    flex-direction: column;
    position: relative;
}
.shipping-radio__input {
    display: none;
    /* width: 0;
    height: 0; */
}
.shipping-radio__label {
    padding-left: 37px;
}
.shipping-radio__label > *:not(:last-child) {
    margin: 0 0 8px 0;
}
.shipping-radio__label:hover {
    cursor: pointer;
}
.shipping-radio__label::before {
    content: "";
    width: 18px;
    height: 18px;
    flex: 0 0 18px;
    background: url(../img/form-payment/radio-btn.svg) center no-repeat;

    position: absolute;
    left: 0;
    top: calc(50% - 9px);
    transition: all 0.2s;
}
.shipping-radio__input:checked + .shipping-radio__label::before {
    background: url(../img/form-payment/radio-btn-checked.svg) center no-repeat;
}
.shipping-radio__title-label {
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.shipping-radio__text-label {
    display: block;
}
.body-payment-section--shipping {
    padding: 32px 48px 32px 28px;
    font-size: 20px;
    font-weight: 700;
}
.body-payment-section--shipping > *:not(:last-child) {
    margin: 0 0 50px 0;
    position: relative;
}
.body-payment-section--shipping > *:not(:last-child)::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #bebcbd;
    position: absolute;
    bottom: -25px;
    left: 0;
}
.body-payment-section__date {
}
.body-payment-section__title {
}
.body-payment-section__cost {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.body-payment-section__cost p {
    color: #807d7e;
    font-size: 16px;
    font-weight: 500;
}
.body-payment-section__info {
}
.body-payment-section__info > *:not(:last-child) {
    margin: 0 0 11px 0;
}
.body-payment-section__price {
}
.body-payment-section--method {
    padding: 45px 48px 45px 28px;
}
.shipping-radio__option {
}
.shipping-radio__text-label {
}
.shipping-radio__images {
    padding-left: 37px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    height: 0;
    visibility: hidden;
}
#credit-card[value="card"]:checked ~ .shipping-radio__images {
    height: auto;
    visibility: visible;
    margin: 30px 0 30px 0;
}
.shipping-radio__img {
    flex: 0 0 80px;
    max-height: 46px;
}
.shipping-radio__info {
    padding-left: 37px;

    height: 0;
    visibility: hidden;
}
#credit-card[value="card"]:checked ~ .shipping-radio__info {
    height: auto;
    visibility: visible;
}
.info-shipping {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.info-shipping__field {
    flex: 0 1 337px;
}
.info-shipping__input {
    padding: 0 20px;
    height: 52px;
    width: 100%;
    border-radius: 8px !important;
    outline: 1px solid #3c4242;
    font-size: 14px;
}
.info-shipping__input:focus {
    outline: 1px solid #8a33fd;
}
.info-shipping__field--eye {
    position: relative;
}
.info-shipping__span {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    width: 22px;
    height: 22px;
    background: url(../img/form-payment/eye-close.svg) center no-repeat;
    cursor: pointer;
    transition: all 0.2s;
}
.info-shipping__span:active {
    background: url(../img/form-payment/eye-open.svg) center no-repeat;
}
.form-payment__button {
}
.check-btn {
}
.check-btn__delivery-btn {
}
/* --------footer------- */
.footer {
    padding: 31px 0;
    border-top: 1px solid #bebcbd;
}
.footer__container {
    max-width: 1267px;
    padding: 0 15px;
    margin: 0 auto;
}
.footer__container p {
    text-align: center;
    font-family: "Causten", sans-serif;
    font-weight: 600;
    font-size: 22px;
}
